<h1>{{movie.title}}</h1>
<hr>
<p>Directed by: {{movie.director}}</p>
<p>Stars: {{movie.stars}}</p>
<img src="{{movie.image }}" alt="{{movie.title}}" />
<p>Description: {{movie.description}}</p>
<p>Showtimes:{{movie.showtimes}}</p>